html {
    margin:                           0 auto;
}

body {
  margin:                             0 auto;
}

h3 {
  font-size:                         20px;
  font-family:                       Helvetica;
}

h4#ending {
  font-size: 20px;
  color: #fff;
  margin-top: 50px;
  font-family: Helvetica;
  text-align: center;
}

.main-body {
  position:                           absolute;
  width:                              100%;
  height:                             100%;
  background:                         #2BB757; /* fallback for old browsers */
  background:                         -webkit-linear-gradient(to bottom right, #2BB757, #0fad67); /* Chrome 10-25, Safari 5.1-6 */
  background:                         linear-gradient(to bottom right, #2BB757, #0fad67); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main-body h1 {
  position: relative;
  color:                              #fff;
  font-size:                          30px;
  font-family:                        Arial;
  top:                                120px;
  text-decoration:                    none;
  margin:                             0 auto;
  width: 220px;
}

table {
	width:                              100%;
	table-layout:                       fixed;
	background-color:                   #00a1ab;
	color:                              #fff;
	font-size:                          20px;
  height:                             50px;
}
thead {
	text-decoration:                   underline;
}

.tbl-content {
	height:                            225px;
	overflow-y:                        auto;
	margin-top:                        0px;
	font-size:                         10px;
}

.tbl-content::-webkit-scrollbar {
    width:                           5px;
    background-color:                #00a1ab;
}

.tbl-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius:                   10px;
}

td {
	padding:                           15px;
  text-align:                        center;
  vertical-align:                    middle;
  font-weight:                       300;
  font-size:                         13px;
  color:                             #fff;
  border-bottom:                     solid 1px rgba(255,255,255,0.1);
}

.tbl-content tr:hover {
	transition:                       all 0.5s ease-in-out;
	opacity:                          0.7;
	background-color:                 #008f98;
  color:                            #fff;
}

#js--scherm1 {
  display:                          none;
}

#js--groeneStroom {
  display:                          none;
}

#js--statusScherm {
  display:                          none;
}

#js--doelstellingen {
  display:                          none;
}

#js--quiz1 {
  display:                          none;
}

#js--hoofdstuk2Scherm {
  display:                          none;
}

#js--groeneTreinScherm {
  display:                          none;
}

#js--groeneTreinScherm2 {
  display:                          none;
}

#js--laatsteInformatieScherm {
  display:                          none;
}

#js--quiz2 {
  display:                          none;
}

#js--laatsteScherm {
  display:                          none;
}

#js--laatsteScherm .main-body {
  background-image: url("../images/windmill-ending-mobile.jpg");
  background-size: 100%;
}


.hidden {
  -webkit-animation:                animatie 2s;
  animation:                        animatie 2s;
  animation-fill-mode:              forwards;
}

@-webkit-keyframes animatie {
    from {
      margin-left:                  0px;
    }
    to {
      margin-left:                 -500px;
    }
}

.verbinding {
  float:                            left;
  display:                          block;
  width:                            72px;
  background-color:                 #00a1ab;
  border:                           none;
  height:                           5px;
  margin-top:                       30px;
  box-shadow:                       5px 6px 10px 0 rgba(0, 0, 0, 0.3);
}

.verbinding-placed {
  float:                            left;
  display:                          block;
  width:                            55px;
  background-color:                 #0c9164;
  border:                           none;
  height:                           5px;
  margin-top:                       30px;
  box-shadow:                       5px 6px 10px 0 rgba(0, 0, 0, 0.3);
}

.verbinding-next {
  float:                            left;
  display:                          block;
  width:                            52px;
  background-color:                 #00a1ab;
  border:                           none;
  height:                           5px;
  margin-top:                       30px;
  box-shadow:                       5px 6px 10px 0 rgba(0, 0, 0, 0.3);
}

.verbinding-done {
  float:                            left;
  display:                          block;
  width:                            52px;
  background-color:                 #19b061;
  border:                           none;
  height:                           5px;
  margin-top:                       30px;
  box-shadow:                       5px 6px 10px 0 rgba(0, 0, 0, 0.3);
}

header {
  z-index:                          1;
  position:                         absolute;
  width:                            100%;
  height:                           56px;
  background-color:                 #0C9164;
  box-shadow:                       0px 6px 30px 0 rgba(0, 0, 0, 0.3);
}

footer {
  position:                        absolute;
  width:                           100%;
  height:                          60px;
  background-color:                #fff;
  bottom: 0;
  margin: 0 auto;
  text-align: center;
}

footer.test {
  position:                        absolute;
  width:                           auto;
  height:                          0px;
  background-color:                #fff;
  bottom: 65px;
}

.circle {
  position:                        relative;
  width:                           291px;
  height:                          291px;
  border-radius:                   100%;
  background-color:                #00FF66;
  top:                             70px;
  margin:                          0 auto;
}

.fotos {
  float:                           left;
  width:                           25%;
  height:                          200px;
  margin-top:                      50px;
  margin-left:                     0px;

}

img.windmil {
  float:                           left;
  width:                           125%;
  margin-left:                     -10px;
  -webkit-animation:               rotation 2.5s infinite linear;
}

img.windmil.windmil1 {
  float:                           left;
  width:                           100%;
}

img.windmast.mast1 {
  float:                           left;
  width:                           20%;
  margin-top:                      -40px;
  margin-left:                     19px;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform:         rotate(0deg);
		}
		to {
				-webkit-transform:         rotate(360deg);
		}
}

img.windmast {
  width:                           25%;
  margin-left:                     -55px;
  margin-top:                      40px;
}

button.Start {
  width:                           200px;
  height:                          51px;
  background-color:                #0C9164;
  list-style-type:                 none;
  text-decoration:                 none;
  border:                          none;
  border-radius:                   50px;
  color:                           #fff;
  box-shadow:                      5px 6px 10px 0 rgba(0, 0, 0, 0.3);
  font-size:                       15px;
  transition-delay:                2s;
  top:                             -25px;
  position:                        relative;
}

.bottom-block {
  bottom:                          0;
  width:                           360px;
  height:                          70px;
  background-color:                #fff;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-32 { font-size: 30px; }
.material-icons.md-48 { font-size: 32px; }

.material-icons.md-light { color:  rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.material-icons.return {
  float:                           left;
  position:                        absolute;
  top:                             14px;
  left:                            16px;
}

.material-icons.more {
  float:                           right;
  position:                        absolute;
  top:                             14px;
  right:                           16px;
}

.js--stoppen, .js--sluiten, .js--line{
  display:                          block;
}


.js--moreMenu {
  position:                         absolute;
  right:                            0;
  width:                            120px;
  height:                           80px;
  background-color:                 #f7a841;
  margin-right:                     0px;
  margin-top:                       -40px;
  display:                         none;
  -webkit-animation:               moreMenu 1s;
}

@-webkit-keyframes moreMenu {
		from {
				margin-right:               -100px;
		}
		to {
				margin-right:               0px;
		}
}

.js--moreMenu h4 {
  color:                           #fff;
  text-align:                      center;
  font-family:                     helvetica;
  margin-top:                      10px;
}

.js--moreMenu hr {
  margin-top:                      -10px;
  text-decoration:                 none;
  list-style-type:                 none;
  height:                          1px;
  border-top:                      #fff;
}

h2.paginaTitel {
  margin-top:                      16px;
  text-align:                      center;
  color:                           #fff;
  font-weight:                     lighter;
  font-family:                     sans-serif;
  font-size:                       20px;
}

.inleiding {
  width:                           289px;
  height:                          446px;
  margin:                          0 auto;
  margin-top:                      80px;
  line-height:                     1.7;
}

.inleiding p.tekst-inleiding {
  font-size:                       20px;
  color:                           #fff;
  font-family:                     helvetica;
}

button.begin {
  position: relative;
  width:                           205px;
  height:                          42px;
  background-color:                #00A1AB;
  list-style-type:                 none;
  text-decoration:                 none;
  border:                          none;
  border-radius:                   50px;
  color:                           #fff;
  box-shadow:                      5px 6px 10px 0 rgba(0, 0, 0, 0.3);
  top:                            -20px;
  font-size:                       13px;
}

.informatie {
  width:                           280px;
  height:                          auto;
  margin:                          0 auto;
  margin-top:                      60px;
  line-height:                     1.6;
}

.informatie p.tekst-informatie {
  float:                           left;
  font-size:                       1.1em;
  color:                           #fff;
  font-family:                     helvetica;
}

.row .col-sm-6 {
  float:                           left;
  width:                           40px;
  height:                          40px;
  background-color:                #00A1AB;
  margin-top:                      10px;
  border-radius:                   100px;
  box-shadow:                      5px 6px 10px 0 rgba(0, 0, 0, 0.3);
}

.row .active {
  background-color:                #0c9164;
  width:                           48px;
  height:                          48px;
  margin-top:                      5px;
}

.row .done {
  background-color:                #19b061;
}

.row .col-sm-6 .material-icons {
  margin-left:                     5px;
  margin-top:                      9px;
}

.material-icons.md-48.finished {
  margin-left:                    2px;
  margin-top:                     4px;
}


/*Hier is de styling van de pie */
.rect-auto .c100.p92 .slice, .c100.p93 .slice, .c100.p94 .slice {
  clip:                             rect(auto, auto, auto, auto);
}

.pie, .c100 .bar, .c100.p93 .fill, .c100.p94 .fill, .c100.p95 .fill {
  position:                         absolute;
  border:                           0.08em solid #307bbb;
  width:                            0.84em;
  height:                           0.84em;
  clip:                             rect(0em, 0.5em, 1em, 0em);
  border-radius:                    50%;
  transform:                        rotate(0deg);
}

.pie-fill, .c100.p93 .bar:after, .c100.p93 .fill{
  transform:                        rotate(180deg);
}

.c100 {
  position: relative;
  font-size:                        120px;
  width:                            1em;
  height:                           1em;
  border-radius:                    50%;
  margin:                           0 auto;
  margin-top:                       80px;
}
.c100 *, .c100 *:before, .c100 *:after {
  box-sizing:                       content-box;
}
.c100.center {
  float:                            none;
  margin:                           0 auto;
}
.c100.big {
  font-size:                        240px;
}
.c100 > span {
  position:                         absolute;
  width:                            100%;
  z-index:                          1;
  left:                             0;
  top:                              0;
  width:                            5em;
  line-height:                      5em;
  font-size:                        0.2em;
  color:                            #fff;
  display:                          block;
  text-align:                       center;
  white-space:                      nowrap;
  transition-property:              all;
  transition-duration:              0.2s;
  transition-timing-function:       ease-out;
}
.c100:after {
  position:                         absolute;
  top:                              0.08em;
  left:                             0.08em;
  display:                          block;
  content:                          " ";
  border-radius:                    50%;
  background-color:                 whitesmoke;
  width:                            0.84em;
  height:                           0.84em;
  transition-property:              all;
  transition-duration:              0.2s;
  transition-timing-function:       ease-in;
}
.c100 .slice {
  position:                         absolute;
  width:                            1em;
  height:                           1em;
  clip:                             rect(0em, 1em, 1em, 0.5em);
}

.c100.p93 .bar {
  transform:                       rotate(334.8deg);
}

.c100:hover {
  cursor:                          default;
}
.c100:hover > span {
  width:                           3.33em;
  line-height:                     3.33em;
  font-size:                       0.3em;
  color:                           #307bbb;
}
.c100:hover:after {
  top:                             0.04em;
  left:                            0.04em;
  width:                           0.92em;
  height:                          0.92em;
}
.c100.dark {
  background-color:                #00a1ab;
}
.c100.dark .bar,
.c100.dark .fill {
  border-color:                    #c6ff00 !important;
}
.c100.dark > span {
  color:                           #fff;
}
.c100.dark:after {
  background-color:                #00a1ab;
}
.c100.dark:hover > span {
  color:                           #c6ff00;
}
.c100.green .bar, .c100.green .fill {
  border-color:                    #4db53c !important;
}
.c100.green:hover > span {
  color:                           #4db53c;
}
.c100.green.dark .bar, .c100.green.dark .fill {
  border-color:                    #0c9164 !important;
}
.c100.green.dark:hover > span {
  color:                           #5fd400;
}
/*Hier is het einde van de pie*/


.popUp {
    display:                       none;
    position:                      fixed;
    z-index:                       1;
    padding-top:                   100px;
    top:                           0;
    left:                          0;
    width:                         100%;
    height:                        90%;
    overflow:                      auto;
    background-color:              rgb(0,0,0);
    background-color:              rgba(0,0,0,0.77);
    font-family:                   helvetica;
    font-size:                     18px;
}

/* Modal Content */
.popUp-content {
    background-color:              #fefefe;
    margin:                        auto;
    padding:                       20px;
    border:                        1px solid #888;
    width:                         80%;
    height:                        auto;
    text-align:                    center;
}

.quiz {
  height:                          480px;
}

#test {
  padding:                         10px 0px 0px 0px;
  color:                           #fff;
  width:                           300px;
  font-size:                       20px;
  font-family:                     Helvetica;
}

#uitslag {
  font-size:                       20px;
  color:                           #fff;
  font-family:                     Helvetica;
}

#test2 {
  padding:                         10px 0px 0px 0px;
  color:                           #fff;
  width:                           100%;
  font-size:                       20px;
  font-family:                     Helvetica;
}

#uitslag2 {
  font-size:                       20px;
  color:                           #fff;
  font-family:                     Helvetica;
}

@keyframes click-wave {
  0% {
    height:                         40px;
    width:                          40px;
    opacity:                        0.35;
    position:                       relative;
  }
  100% {
    height:                         200px;
    width:                          200px;
    margin-left:                    -80px;
    margin-top:                     -80px;
    opacity:                        0;
  }
}

.option-input {
  -webkit-appearance:               none;
  -moz-appearance:                  none;
  -ms-appearance:                   none;
  -o-appearance:                    none;
  appearance:                       none;
  position:                         relative;
  top:                              13px;
  height:                           40px;
  width:                            40px;
  transition:                       all 0.15s ease-out 0s;
  background:                       #cbd1d8;
  border:                           none;
  color:                            #fff;
  cursor:                           pointer;
  display:                          inline-block;
  margin-right:                     10px;
  outline:                          none;
  position:                         relative;
  z-index:                          1000;
  margin-top:                       20px;
}
.option-input:hover {
  background:                       #9faab7;
}
.option-input:checked {
  background:                       #40e0d0;
}
.option-input:checked::before {
  height:                           40px;
  width:                            40px;
  position:                         absolute;
  content:                          '✔';
  display:                          inline-block;
  font-size:                        26.66667px;
  text-align:                       center;
  line-height:                      40px;
}
.option-input:checked::after {
  animation:                        click-wave 0.65s;
  background:                       #00A1AB;
  content:                          '';
  display:                          block;
  position:                         relative;
  z-index:                          100;
}
.option-input.radio {
  border-radius:                    50%;
}
.option-input.radio::after {
  border-radius:                    50%;
}

button.submit {
  position:                         absolute;
  float:                            left;
  width:                            205px;
  height:                           42px;
  background-color:                 #f3af1e;
  list-style-type:                  none;
  text-decoration:                  none;
  border:                           none;
  border-radius:                    50px;
  color:                            #fff;
  box-shadow:                       5px 6px 10px 0 rgba(0, 0, 0, 0.3);
  margin-left:                      40px;
  margin-top:                       -20px;
  font-size:                        13px;
  z-index:                          1;
}

button.trein-animatie {
  float:                            left;
  width:                            205px;
  height:                           42px;
  background: linear-gradient(to bottom, #FDC830, #f38735);
  list-style-type:                  none;
  text-decoration:                  none;
  border:                           none;
  border-radius:                    50px;
  color:                            #fff;
  box-shadow:                       5px 6px 10px 0 rgba(0, 0, 0, 0.3);
  margin-left:                      40px;
  margin-top:                       20px;
  font-size:                        15px;
}

img#js--treinAnimatie {
  float:                            left;
  margin-left:                      -900px;
  margin-top:                       100px;
  width:                            140%;
}

img.treinAnimatie {
  -webkit-animation:                trein 5s;
  animation:                        trein 4s;
}

@-webkit-keyframes trein {
    0%   {
      margin-left:                  -300px;
      margin-top:                    200px;
    }
    100% {
      margin-left:                  350px;
      margin-top:                   100px;
    }
}

#js--treinInfo {
  font-size:                         18px;
  font-family:                       Helvetica;
  color:                             #fff;
  display:                           none;
}

.treinInfo {
  float:                             left;
  margin-top:                        20px;
  margin-left:                       130px;
  -webkit-animation:                treinInfo 5s;
  animation:                        treinInfo 4s;
}

@-webkit-keyframes treinInfo {
    0%   {
      margin-left:                  -500px;
      margin-top:                    200px;
    }
    40%  {
      margin-left:                  -500px;
    }
    80% {
      margin-left:                  130px;
      margin-top:                   100px;
    }
    100% {
      margin-top:                  -140px;
    }
}

#js--treinInfo2 {
  font-size:                       18px;
  font-family:                     Helvetica;
  color:                           #fff;
  display:                         none;
}

.treinInfo2 {
  width:                           280px;
  height:                          330px;
  margin:                          0 auto;
  margin-top:                      60px;
  line-height:                     1.6;
  margin-top:                      600px;
  -webkit-animation:               treinInfo2 2s;
  animation:                       treinInfo2 2s;
  animation-delay:                 4s;
  animation-fill-mode:             forwards;
  z-index:                         2;
}

@-webkit-keyframes treinInfo2 {
    from   {
      margin-top:                 600px;
    }
    to {
      margin-top:                 250px;
    }
}

.footer-trein {
  animation:                       footer 2s;
  animation-delay:                 4s;
  animation-fill-mode:             forwards;
}

@-webkit-keyframes footer {
    from   {
      margin-top:                  500px;
    }
    to {
      margin-top:                  0px;
    }
}

.stroom-informatie {
  width:                           240px;
}

.informatie-stroom {
  margin:                          0 auto;
  margin-top:                      20px;
  padding-top:                     20px;
  width:                           30%;
}

.kabel {
  float:                           left;
  width:                           200%;
  margin-left:                     -50px;
}

.sidebar {
  float:                           left;
  width:                           75px;
  height:                          100%;
  background-color:                #0c9164;
}

ul#allHeads {
  float:                           left;
  list-style-type:                 none;
  padding-left:                    25px;
}

#allHeads {
  margin-top:                      90px;
}

li.head {
  position:                        relative;
  z-index:                         2;
  width:                           20px;
  height:                          20px;
  border-radius:                   50px;
  margin-top:                      -10px;
  background-color:                #00A1AB;
  box-shadow:                      5px 6px 10px 0 rgba(0, 0, 0, 0.3);
  border:                          none;
  text-align:                      center;
}

li.head a {
  text-decoration:                 none;
  color:                           #00A1AB;
}

li.head:hover {
  background-color:                #0c9164;
}

#allHeads li.head.active {
  background-color:                #ff9d10;
}

.headConnect {
  width:                           5px;
  height:                          95px;
  margin-top:                      -10px;
  margin:                          0 auto;
  box-shadow:                      5px 6px 10px 0 rgba(0, 0, 0, 0.3);
  background-color:                #00A1AB;
  border:                          none;
}

.content {
  margin-left:                     0px;
  height:                          490px;
  overflow:                        hidden;
  margin-top:                      70px;
}

#subKop1,#subKop2,#subKop3,#subKop4,#subKop5{
  height:                          560px;
  width:                           240px;
  margin-top:                      0px !important;
}

.station {
  width:                           100%;
}

.spanningmast {
  width:                           30%;
  margin-top:                      10px;
}

.kabel2 {
  float:                           left;
  margin-left:                     20px;
  width:                           100%;
  margin-top:                      -60px;
}

.rails {
  width:                           100%;
  margin-top:                      20px;
}

.trein {
  width:                           100%;
  margin-top:                      50px;
}

.groeneTrein {
  width:                           100%;
}

video {
  width:                           280px;
}

.tekst-einde {
  width:                           100%;
  height:                          00px;
  text-align:                      center;
  color:                           #fff;
  font-family:                     Helvetica;
  margin-top:                      200px;
}



@media (min-width: 400px) {
  .verbinding-done {
    width:                         16%;
  }

  .verbinding-placed {
    width:                         16%;
  }

  .verbinding-next {
    width:                         16%;
  }

  .verbinding {
    width:                         25%;
  }

  .headConnect {
    height:                        120px;
  }

  video {
    width:                        280px;
  }

  img#js--treinAnimatie {
    width:                        120%;
    margin-left:                 -1200px;
  }

  #js--treinInfo {
    margin-left:                  160px;
  }

  @-webkit-keyframes treinInfo {
      0%   {
        margin-left:              -3000px;
        margin-top:               200px;
      }
      40%  {
        margin-left:              00px;
      }
      80% {
        margin-left:             130px;
        margin-top:              100px;
      }
      100% {
        margin-top:              -140px;
      }
  }

  @-webkit-keyframes trein {
      0%   {
        margin-left:             -1000px;
        margin-top:               200px;
      }
      100% {
        margin-left:              350px;
        margin-top:               100px;
      }
  }

  .treinInfo2 {
    margin-top:                  2000px;
  }

}



@media (min-width: 600px) {
  button.Start {
    width:                        250px;
  }

  button.begin {
    width:                        300px;
  }

  .verbinding-done {
    width:                        18%;
  }

  .verbinding-placed {
    width:                        18%;
  }

  .verbinding-next {
    width:                        18%;
  }

  .verbinding {
    width:                        26%;
  }

  .tbl-content {
    height:                       350px;
  }

  .popUp-content {
    width:                        450px;
  }

  video {
    width:                        300px;
  }

  img#js--treinAnimatie {
    width:                         120%;
    margin-left:                  -1400px;
  }

  #js--treinInfo {
    margin-left:                   280px;
  }

  @-webkit-keyframes treinInfo {
      0%   {
        margin-left:               -3000px;
        margin-top:                 200px;
      }
      40%  {
        margin-left:                 00px;
      }
      80% {
        margin-left:                 130px;
        margin-top:                  100px;
      }
      100% {
        margin-top:                  -140px;
      }
  }

  @-webkit-keyframes trein {
      0%   {
        margin-left:                 -1400px;
        margin-top:                  200px;
      }
      100% {
        margin-left:                 350px;
        margin-top:                  100px;
      }
  }

  .treinInfo2 {
    margin-top:                      2000px;
  }

}




@media (min-width: 800px) {
  button.Start {
    width:                           300px;
  }

  button.begin {
    width:                           350px;
  }

  button.submit {
    width:                           250px;
  }

  .informatie {
    font-size:                       1.1em;
    margin-top:                      70px;
    width:                           300px;
  }

  .verbinding-done {
    width:                           19%;
  }

  .verbinding-placed {
    width:                           19%;
  }

  .verbinding-next {
    width:                           19%;
  }

  .verbinding {
    width:                           27%;
  }

  .tbl-content {
    height:                          350px;
  }

  .option-input.radio {
    margin-top:                      30px;
  }

  video {
    width:                           300px;
  }

  img#js--treinAnimatie {
    width:                          100%;
    margin-left:                    -1600px;
  }

  #js--treinInfo {
    margin-left:                     380px;
  }

  .treinInfo2 {
    margin-top:                      2000px;
  }

  #js--laatsteScherm .main-body {
    background-image:                url("../images/windmill-ending.jpg");
    background-size:                 200%;
  }
}




@media (min-width: 1000px) {
  button.Start {
    width:                           350px;
  }

  button.begin {
    width:                           400px;
  }

  .informatie {
    width:                           400px;
    margin-top:                      100px;
  }

  .verbinding-done {
    width:                            20%;
  }

  .verbinding-placed {
    width:                            20%;
  }

  .verbinding-next {
    width:                            20%;
  }

  .verbinding {
    width:                            27%;
  }

  video {
    width:                           350px;
  }

  #js--laatsteScherm .main-body {
    background-image:                url("../images/windmill-ending.jpg");
    background-size:                 100%;
  }

  img#js--treinAnimatie {
    width:                          80%;
    margin-left:                    -1700px;
  }

  #js--treinInfo {
    margin-left:                    480px;
  }
}


@media (min-width: 1200px) {
  .verbinding-done {
    width:                         21%;
  }

  .verbinding-placed {
    width:                         21%;
  }

  .verbinding-next {
    width:                         21%;
  }

  .verbinding {
    width:                         26.5%;
  }

  video {
    width:                         350px;
  }

  img#js--treinAnimatie {
    width:                         60%;
    margin-left:                  -1800px;
  }

  #js--treinInfo {
    margin-left:                   600px;
  }

  .treinInfo2 {
    margin-top:                    2000px;
  }
}





@media (min-width: 1400px) {
  .verbinding-done {
    width:                         22%;
  }

  .verbinding-placed {
    width:                         22%;
  }

  .verbinding-next {
    width:                         22%;
  }

  .verbinding {
    width:                         25%;
  }

  .tbl-content {
    height:                        350px;
  }

  video {
    width:                         350px;
  }

  img#js--treinAnimatie {
    width:                        60%;
    margin-left:                  -1900px;
  }

  #js--treinInfo {
    margin-left:                  650px;
  }

  .treinInfo2 {
    margin-top:                   2000px;
  }

}


@media (min-width: 1600px) {
  .main-body {
    height:                       95%;
  }

  .main-body h1 {
    font-size:                    50px;
    margin-top:                   200px;
    width:                        370px;
  }

  .circle {
    top:                          200px;
  }

  .inleiding {
    margin-top:                   150px;
    width:                        350px;
    height:                       400px;
  }


  button.begin {
    width:                       400px;
  }

  button.submit {
    margin-top:                  20px;
  }

  .verbinding-done {
    width:                       22%;
  }

  .verbinding-placed {
    width:                       22%;
  }

  .verbinding-next {
    width:                       22%;
  }

  .verbinding {
    width:                       26%;
  }

  .tbl-content {
    height:                      350px;
    width:                       400px;
  }

  img#js--treinAnimatie {
    float:                            left;
    margin-left:                      -2000px;
    margin-top:                       100px;
    width:                            40%;
  }

  img.treinAnimatie {
    -webkit-animation:                trein 5s;
    animation:                        trein 4s;
  }

  @-webkit-keyframes trein {
      from   {
        margin-left:                   300px;
         margin-top:                   100px;
      }
      to {
        margin-left:                   1600px;
         margin-top:                   100px;
      }
  }

  #js--treinInfo {
    margin-left:                      -250px;
    margin-top:                       50px;
  }

  .trein-info {
    -webkit-animation:                treinInfo 10s;
    animation:                        treinInfo 10s;
  }

  @-webkit-keyframes treinInfo {
      0%   {
        margin-left:                  -1000px;
        margin-top:                   50px;
      }
      100% {
        margin-left:                 -250px;
        margin-top:                  60px;
      }
  }

  .spanningmast {
    display:                         none;
  }

  .kabel2 {
    display:                         none;
  }

  .content {
    margin-top:                      100px;
  }

  #subKop1, #subKop2, #subKop3, #subKop4, #subKop5 {
    width:                           300px;
    height:                          800px;
  }

  .headConnect {
    height:                          160px;
  }

  video {
    width:                            400px;
  }

  #js--laatsteScherm .main-body {
    background-image:                 url("../images/windmill-ending.jpg");
    background-size:                  100%;
  }

}
